.banner {
  color: white;
  background-size: cover;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  font-size: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.banner p {
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
